<zippy [z-title]="'Spotify Search - Async - Http - Observables'">
    <spotify></spotify>
</zippy>

<zippy [z-title]="'Angular Form - Custom Validators'">
	<change-password-form></change-password-form>
</zippy>

<zippy [z-title]="'Angular Form - [Model-driven Forms]'">
	<signup-form></signup-form>
</zippy>

<zippy [z-title]="'Angular Forms - [Template-driven Forms]'">
	<feedback-form></feedback-form>
	<hr/>
	<subscription-form></subscription-form>
</zippy>

<zippy [z-title]="'ngIf - ngSwitch'">
	<h3>*ngSwitch</h3>
	<ul class="nav nav-pills">
		<li [style.cursor]="'pointer'" [class.active]="activeTab=='tab1'"><a (click)="activeTab='tab1'"> Tab1 </a></li>
		<li [style.cursor]="'pointer'" [class.active]="activeTab=='tab2'"><a (click)="activeTab='tab2'"> Tab2 </a></li>
	</ul>
	<div [ngSwitch]="activeTab">
		<template [ngSwitchWhen]="'tab1'" ngSwitchDefault>
			Tab1 Content
		</template>
		<template [ngSwitchWhen]="'tab2'">
			Tab2 Content
		</template>				
	</div>
    <hr/>
	<h3>*ngIf</h3>
	<div class="panel">
		<label>Is Angular is superhero?</label>
		<div>
			<span>
				<input type="radio" name="superhero" (click)="isAngular=1" />Yes
			</span>
			<span>
				<input type="radio" name="superhero" (click)="isAngular=0" />No
			</span>
		</div>
		<div>
			<span *ngIf="!isAngular"> You should learn angular first..</span>
			<span [hidden]="!isAngular">:(</span>
			<span *ngIf="isAngular"> Hope you already know about angular</span>
			<span [hidden]="isAngular">:)</span>
			
		</div>
	</div>    
</zippy>

<zippy [z-title]="'Tree View'">
    <tree-view [tree-title]="'Food Menu'" [tree-data]="resmenus"></tree-view>
</zippy>

<zippy [z-title]="'Courses'">
    <h5>List of Courses</h5>
    <ul>
        <li *ngFor="#course of courses">
            {{course}}
        </li>
    </ul>    
    
    <zippy [z-title]="'Inner Zippy'">
        <span>Content of inner Zippy Component</span>
    </zippy>    
</zippy>

<zippy [z-title]="'Persons'">
    <card [c-data]="persons"></card>        
</zippy>

<zippy [z-title]="'Ratings / Like / Voter'">
    <favorite [r-title]="'Course Rating'" [r-data]="ratings" (r-change)="onRatingChange($event)"></favorite>
    <hr/>
    <like [like-title]="'Angular Likes'" [is-liked]="false" (like-change)="onLikeChange($event)"></like>
    <hr/>
    <voter [vote-title]="'Angular Votes'" [vote-count]="10" (when-voted)="onVote($event)"></voter>       
</zippy>

<zippy [z-title]="'Bindings'">
    <input type="text" [value]="title" (input)="title=$event.target.value" autoGrow/>
    <input type="text" [(ngModel)]="title" />
    <input type="text" bindon-ngModel="title" />
    <input type="button" (click)="title=''" [value]="'clear'" />
</zippy>

<zippy [z-title]="'IMG usecase'">
    <input [(ngModel)]="imgUrl" [style.width]="'350px'" />
    <div (click)="onDivClick()">
        <hr/>
        <img src="{{imgUrl}}" (click)="onImgClick($event)" />
        <hr/>
        <img [src]="imgUrl" />
        <hr/>
        <img bind-src="imgUrl" />
    </div>        
</zippy>



	