h2 { color: #444; font-weight: lighter; }
body { margin: 2em; }
body, input[text], button { color: #888; font-family: Verdana, Geneva, sans-serif; }
button {padding: 0.2em; font-size: 14px}

body {
    padding-top: 50px;    
}

.ng-touched.ng-invalid{
    border:1px solid indianred;
}
